.projectItemContent {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100%;

  .content {
    height: 100%;
  }
}
.coverImageWrapper {

  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
  position: relative;

  .coverImage {
    background-position: top center !important;
    background-size: cover !important;
    text-align: center;
    width: 100%;
    bottom: 0;
    line-height: 0;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
  }
  .scrollWrapper {
    cursor: pointer;
    height: 20px;
    position: absolute;
    bottom: 32px;
    width: 100%;
    z-index: 105;

    .iconDiv {
      transition: all .2s linear;
      -moz-transition: all .2s linear;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      width: 100%;
      position: absolute;
      text-align: center;

      svg {
        fill: #777;
        transition: all .5s;
        transform-origin: 50% 50%;
      }
    }
  }
  .scrollWrapper:hover .iconDiv svg {
    transform: scale(1.2);
  }
}
